.AdminDashboard {
  background-color: #F2F2F2;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
}
.AdminTileIconBlock{
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: #D6001C;
  color: #ffffff;
}
.AdminMenuContainer {
  position: fixed;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  width: 250px;
  background-color: #000000;
  z-index: 110;
  color: #ffffff;
  transition: transform 0.3s ease; /* For smooth sliding */
}

.AdminMenuContainer.hide {
  transform: translateX(-100%); /* Hide the menu by shifting it left */
}

.AdminLogoText {
  font-size: 2rem;
  font-weight: bolder;
}

.AdminMenuGroup {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.AdminMenu {
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #ffffff;
}

.AdminMenu:hover {
  background-color: #F2F2F2;
  color: #000000;
  font-size: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.AdminMenuActive {
  background-color: #D6001C;
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
}

.AdminContainer {
  padding: 1rem;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  margin-left: 250px;
  transition: margin-left 0.3s ease; /* Smooth transition */
}
.AdminDashboardBody{
  margin-left: 250px;
}
.MenuToggle{
  display: none;
}
.floatingAddButton {
  z-index: 100;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #000000;
}
.floatingAddButton:hover{
  color: #D6001C;
}
@media (max-width: 768px) {
  .AdminMobileView{
    display: none;
  }
  .AdminDashboardBody{
    margin-left: 0;
  }
  
  .AdminContainer {
    margin-left: 0;
  }

  .MenuToggle {
    display: block;
    position: fixed;
    /* top: 1rem; */
    /* left: 1rem; */
    background: none;
    border: none;
    /* font-size: 2rem; */
    z-index: 120;
    color: #ffffff;
    cursor: pointer;
    height: 100vh;
    background: #000000;
  }
}
