@import "./navBar.css";
@import "./homepage.css";
@import "./section-two.css";
@import "./card-section.css";
@import "./footer.css";
@import "./form.css";
@import "./two-side.css";
@import "./contact-us.css";

:root {
  --color-one: #000000;
  --color-two: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
.btn-one {
  /* padding: .5rem 2rem; */
  font-size: 1rem;
  background-color: var(--color-two);
  border: none;
  color: var(--color-one);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 600;
  border-radius: 0.5rem;
  height: 3rem;
  width: 220px;
}
.btn-two {
  /* padding: .5rem 2rem; */
  font-size: 1rem;
  background-color: transparent;
  border: none;
  color: var(--color-two);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 600;
  border-radius: 0.5rem;
  height: 3rem;
  width: 220px;
  border: solid;
}
.btn-two:hover {
  background-color: var(--color-two);
  color: var(--color-one);
  border: solid var(--color-two);
}
.btn-one:hover {
  background-color: transparent;
  border: none;
  color: var(--color-two);
  border: solid;
}
