.nav-bar {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--color-one);
    color: var(--color-two);
    width: 100%;
    padding: 0 1rem;
    z-index: 100;
}

.logo-text {
    color: var(--color-two);
    font-size: 1.5rem;
    font-weight: 900;
    font-family: var(--font-family);
    text-decoration: none;
}

.nav-bar-menu {
    display: flex;
    gap: 1rem;
}

.nav-bar-text {
    color: var(--color-two);
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--font-family);
    text-decoration: none;
}

/* Responsive Styles */
.menu-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: var(--color-two);
    cursor: pointer;
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
    .nav-bar-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 4rem; /* Just below the navbar */
        right: 1rem;
        background-color: #f2f2f2;
        width: 200px;
        padding: 0.5rem;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-bar-menu.open {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .nav-bar-text {
        padding: 0.5rem 0;
    }
}
