.navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
}
.navbarLogoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbarLogo{
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    color: #000000;
}
.navMeneToggle{
    display: none;
}
.navbarContent{
    padding: 3rem 2rem;
}
.navbarContentTitle{
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: #D6001C;
}
.navbarContentDesc{
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    line-height: 1.5rem;
    margin-top: 1rem;
}
/* Adjustments for mobile devices */
@media (max-width: 768px) {
   
.navMeneToggle{
    display: block;
    background-color: transparent;
    color: #D6001C;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    border-radius: .5rem;
    border: none;
    padding: 0.25rem 0.5rem;
}
 

    .navbarMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
        width: 100%;
    }
}



.navbarMenu {
    font-weight: bolder;
    font-size: 1rem;
    text-decoration: none;
    color: #000000;
    margin-right: 1rem;
}

/* For even smaller screens */
@media (max-width: 480px) {
    .navbar {
        padding: 1rem;
    }

    .navbarMenu {
        font-size: 1rem;
    }
}
