.section-2 {
  background-color: var(--color-two);
  padding: 5rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Start hidden */
  animation: fadeInSlideUp 1.5s ease-in-out forwards;
}

.section-2-container {
  max-width: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 0; /* Start hidden */
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 0.5s; /* Delay to ensure container fades in after section */
}

.section-2-title {
  color: var(--color-one);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--font-family);
  text-decoration: none;
  opacity: 0; /* Start hidden */
  animation: fadeInSlideUp 2s ease-in-out forwards;
  animation-delay: 1s; /* Delay to ensure title animates after container */
}

.section-2-des {
  color: var(--color-one);
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--font-family);
  text-decoration: none;
  line-height: 1.75rem;
  opacity: 0; /* Start hidden */
  animation: fadeInSlideUp 2.5s ease-in-out forwards;
  animation-delay: 1.5s; /* Delay to ensure description animates after title */
}

/* Keyframes for animations */
@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
