.heroSection {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.heroContent {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  padding: 1rem;
}

.heroBg {
  position: absolute;
  inset: 0;
}

.heroTextContainer {
  width: 400px;
  margin: 2rem;
}

.heroTitle {
  font-size: 4rem;
  line-height: 4rem;
  font-weight: bold;
  margin-bottom: 16px;
}
.websiteBtn{
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color:   #D6001C;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
  margin-top: 1rem;
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.websiteBtn:hover{  transform: scale(1.05); 
}
.content{
  padding: 1rem;
}
.card{
  border-radius: 16px;
  background-color: #F2F2F2;
  padding: 1rem 2rem;
  margin: 1rem 0;
}
.cardTitle{
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: #D6001C;
}
.cardDesc{
  font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    line-height: 1.5rem;
    margin-top: 1rem;
}
.cardsRow {
  display: flex;
  gap: 20px; /* Optional: Space between cards */
  justify-content: space-between;
  margin: 20px 0;
}

/* Ensure each card takes equal width in the row */
.cardsRow .card {
  flex: 1;
}
/* Mobile responsiveness */
@media (max-width: 768px) {
  .heroTextContainer {
    width: 350px;
    margin: 1rem;
  }

  .heroTitle {
    font-size: 3.2rem; 
    text-align: left; 
    line-height: 3.2rem; 
  }

  .heroContent {
    padding: 0.5rem;
  }
  .cardsRow {
    flex-direction: column;
  }
}

/* Extra small devices (max-width: 480px) */
@media (max-width: 480px) {
  .heroTitle {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .heroTextContainer {
    width: 250px;
    margin: 0.5rem;
    padding: 0; /* Remove padding to maximize space */
  }
  .content{
    padding: 0.5rem;
  }
}
