/* /styles/form/EditRegistrationForm.module.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/* Keyframes for fade-in animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes formAppear {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modalContent {
  background-color: #f2f2f2; /* Light gray background */
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 800px; /* Set a max-width for better readability */
  margin: 2rem auto; /* Center the form with some top and bottom margin */
  font-family: 'Montserrat', system-ui;
  box-sizing: border-box;
  animation: formAppear 0.5s ease-in-out;
  overflow-y: auto; /* Enable scrolling if content exceeds height */
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Montserrat', system-ui;
}

.form h3 {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #d6001c; /* Red color */
}

.form label {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='tel'],
.form select,
.form textarea {
  border: 2.5px solid #000000; /* Black border */
  font-size: 1rem;
  padding: 1rem;
  border-radius: 8px;
  background-color: #ffffff; /* White background */
  width: 100%;
  font-weight: bold;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
  margin-top: 0.5rem;
}

.form input:focus,
.form select:focus,
.form textarea:focus {
  outline: none;
  border-color: #d6001c; /* Red border on focus */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.checkboxGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.5rem;
}

.checkboxGroup label {
  display: flex;
  align-items: center;
  font-weight: normal;
}

.checkboxGroup input {
  margin-right: 0.5rem;
}

.saveButton {
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Montserrat', system-ui;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  font-weight: bold;
  color: #ffffff;
  width: 100%; /* Full width for button */
  background-color: #d6001c; /* Red color */
  margin-top: 2rem;
}

.saveButton:hover {
  background-color: #000000;
  color: #ffffff;
  transform: translateY(-5px);
}

.successMessage {
  color: green;
  font-weight: bold;
  margin-bottom: 1rem;
}

.errorMessage {
  color: red;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media (max-width: 480px) {
  .modalContent {
    padding: 1rem;
    height: 100%;
  }
  .saveButton {
    padding: 0.8rem 1.5rem;
  }
}
